<<<<<<< HEAD
@font-face {
    font-family: 'Heming Variable';
    src: url(assets/fonts/Heming-Variable/Heming-Variable.ttf), format('truetype');

    /* font-family: 'Rumeur';
    src: url(assets/fonts/rumeur/font/rumeur.otf); */

    /* font-family: 'Canarina';
    src: url(assets/fonts/canarina/fonts/web/Canarina-Regular.woff2); */
}

:root {
    color: #f1c5db;
    background-color: #0a1559;
    font-family: 'Heming Variable';


}

#tudo {
    margin: 2%;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;


    & #link {
        display: flex;
        flex-direction: row;
        width: 30%;
        text-decoration: none;
        color: #0a1559;

        & #div-btn {
            background-color: #eadc12;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            display: flex;
            flex-direction: row;
            border-radius: 5rem;

            & #back-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                /* width: 3rem; */
                height: 3rem;
                border-radius: 5rem;


                & img {
                    width: 2.5rem;
                }

            }

            & #text {
                display: none;
            }

            &:hover {
                justify-content: space-evenly;

                & #text {
                    display: flex;
                    margin-left: 0.4rem;
                    margin-right: 0.4rem;

                }

            }

        }

    }


    & #title {
        width: 40%;
        text-align: center;
        color: #f1c5db;

    }

    & #itens {
        display: flex;
        flex-direction: row;
        width: 30%;
        min-width: fit-content;
        justify-content: flex-end;
        color: #f1c5db;

        & div {
            margin: 0.5rem;

        }

    }


}

.content {
    margin-top: 5rem;
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;


    & #about {
        width: 40%;
        padding: 2rem;

        & h2 {
            color: #eadc12;
        }

    }

    & #foto {
        width: 50%;
        max-width: 50rem;
        height: 22rem;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-image: url(assets/WhatsApp\ Image\ 2023-11-25\ at\ 21.42.19.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; */
        border-radius: 20rem;

        & img {
            width: 20rem;
        }

    }
}

.projetos {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;

    /* margin-bottom: 5rem; */


    & .nav {
        width: 100%;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;


        & #titulos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: calc(30% + 2rem);
            border-bottom: #003988 1px solid;
            
            

            &>div{
                padding-bottom: 0.5rem;
                font-size: 0.9rem;
            }

            & :nth-child(n+2) {
                margin-left: 2rem;
            }

            & div:not(.active) {
                color: #003988;
                cursor: pointer;

                &:hover {
                    color: #eadc12;
                }
            }

            & .active {
                border-bottom: #eadc12 2px solid;
                pointer-events: none;

                & h2 {
                    color: #f1c5db;


                }


            }
        }

        & span {
            width: 50%;
        }

    }


    .port {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;


        & .cards-list {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas: "1 2" "3 4";
            gap: 2rem;
            width: 30%;

            &>div {
                border-radius: 2.5rem;
            }

            & #card1 {
                width: 14rem;
                height: 16rem;
                background-color: #6ebcdb;
                grid-area: 1;
            }

            & #card2 {
                width: 14rem;
                height: 16rem;
                background-color: #6ebcdb;
                grid-area: 1;
            }

            & #card3 {
                width: 14rem;
                height: 16rem;
                background-color: #6ebcdb;
                grid-area: 2;
            }

            & #card4 {
                width: 14rem;
                height: 16rem;
                background-color: #6ebcdb;
                grid-area: 2;
            }
        }
    }

    & .view {
        background-color: #f1c5db;
        width: 50%;
        color: #0a1559;
        height: 36rem;
        border-radius: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;


        & #title {
            width: 100%;


            & h2 {
                text-align: center;
                padding: 1.5rem;
                margin-block: 0px;

            }
        }

        & .foto1 {
            width: 32rem;
            height: 18rem;
            background-color: #003988;
            border-radius: 1.75rem;
        }

        & #info {
            /* margin: 1.5rem; */
            color: #e32902;
            width: 75%;
        }

        & #btn-link {
            display: flex;
            justify-content: center;

            & button {
                width: 16rem;
                height: 4rem;
                border-radius: 2rem;
                border: #0a15597e 0.5px solid;
                font-size: 1rem;
                text-align: center;
                padding: 0.2rem;
                font-family: 'Heming Variable';
                background-color: #f1c5db;
                box-shadow: #0a1559 0.2rem 0.3rem 2px 0.1rem;
                color: #0a1559;
                font-weight: 500;
                cursor: pointer;

                &:active {
                    transform: translate(0.3em, 0.2rem);
                    transform: scale(0.95);
                    box-shadow: #0a1559 0.03rem 0.05rem 3px 0.02rem;


                }
            }
        }
    }
}

#front,
#flutter,
#outros {
    display: none;
=======
@font-face {
    font-family: 'Heming Variable';
    src: url(assets/fonts/Heming-Variable/Heming-Variable.ttf), format('truetype');

    /* font-family: 'Rumeur';
    src: url(assets/fonts/rumeur/font/rumeur.otf); */

    /* font-family: 'Canarina';
    src: url(assets/fonts/canarina/fonts/web/Canarina-Regular.woff2); */
}

:root {
    color: #f1c5db;
    background-color: #0a1559;
    font-family: 'Heming Variable';


}

#tudo {
    margin: 2%;

}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;


    & #link {
        display: flex;
        flex-direction: row;
        width: 30%;
        text-decoration: none;
        color: #0a1559;

        & #div-btn {
            background-color: #eadc12;
            padding-left: 0.2rem;
            padding-right: 0.2rem;
            display: flex;
            flex-direction: row;
            border-radius: 5rem;

            & #back-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                /* width: 3rem; */
                height: 3rem;
                border-radius: 5rem;


                & img {
                    width: 2.5rem;
                }

            }

            & #text {
                display: none;
            }

            &:hover {
                justify-content: space-evenly;

                & #text {
                    display: flex;
                    margin-left: 0.4rem;
                    margin-right: 0.4rem;

                }

            }

        }

    }


    & #title {
        width: 40%;
        text-align: center;
        color: #f1c5db;

    }

    & #itens {
        display: flex;
        flex-direction: row;
        width: 30%;
        min-width: fit-content;
        justify-content: flex-end;
        color: #f1c5db;

        & div {
            margin: 0.5rem;

        }

    }


}

.content {
    margin-top: 5rem;
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;


    & #about {
        width: 40%;
        padding: 2rem;

        & h2 {
            color: #eadc12;
        }

    }

    & #foto {
        width: 50%;
        max-width: 50rem;
        height: 22rem;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-image: url(assets/WhatsApp\ Image\ 2023-11-25\ at\ 21.42.19.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; */
        border-radius: 20rem;

        & img {
            width: 20rem;
        }

    }
}

.projetos {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;

    /* margin-bottom: 5rem; */


    & .nav {
        width: 100%;
        margin-bottom: 0.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;


        & #titulos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: calc(30% + 2rem);
            border-bottom: #003988 1px solid;
            
            

            &>div{
                padding-bottom: 0.5rem;
                font-size: 0.9rem;
            }

            & :nth-child(n+2) {
                margin-left: 2rem;
            }

            & div:not(.active) {
                color: #003988;
                cursor: pointer;

                &:hover {
                    color: #eadc12;
                }
            }

            & .active {
                border-bottom: #eadc12 2px solid;
                pointer-events: none;

                & h2 {
                    color: #f1c5db;


                }


            }
        }

        & span {
            width: 50%;
        }

    }


    .port {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;


        & .cards-list {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-areas: "1 2" "3 4";
            gap: 2rem;
            width: 30%;

            &>div {
                border-radius: 2.5rem;
            }

            & #card1 {
                width: 14rem;
                height: 16rem;
                background-color: #6ebcdb;
                grid-area: 1;
            }

            & #card2 {
                width: 14rem;
                height: 16rem;
                background-color: #6ebcdb;
                grid-area: 1;
            }

            & #card3 {
                width: 14rem;
                height: 16rem;
                background-color: #6ebcdb;
                grid-area: 2;
            }

            & #card4 {
                width: 14rem;
                height: 16rem;
                background-color: #6ebcdb;
                grid-area: 2;
            }
        }
    }

    & .view {
        background-color: #f1c5db;
        width: 50%;
        color: #0a1559;
        height: 36rem;
        border-radius: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;


        & #title {
            width: 100%;


            & h2 {
                text-align: center;
                padding: 1.5rem;
                margin-block: 0px;

            }
        }

        & .foto1 {
            width: 32rem;
            height: 18rem;
            background-color: #003988;
            border-radius: 1.75rem;
        }

        & #info {
            /* margin: 1.5rem; */
            color: #e32902;
            width: 75%;
        }

        & #btn-link {
            display: flex;
            justify-content: center;

            & button {
                width: 16rem;
                height: 4rem;
                border-radius: 2rem;
                border: #0a15597e 0.5px solid;
                font-size: 1rem;
                text-align: center;
                padding: 0.2rem;
                font-family: 'Heming Variable';
                background-color: #f1c5db;
                box-shadow: #0a1559 0.2rem 0.3rem 2px 0.1rem;
                color: #0a1559;
                font-weight: 500;
                cursor: pointer;

                &:active {
                    transform: translate(0.3em, 0.2rem);
                    transform: scale(0.95);
                    box-shadow: #0a1559 0.03rem 0.05rem 3px 0.02rem;


                }
            }
        }
    }
}

#front,
#flutter,
#outros {
    display: none;
>>>>>>> 4fd211a4143bf293297aa8114ac37cfd6b46139f
}